.derecha {
    float: right;
    padding-right: 20px;
    color: white;
    font-size: 25px;
}

ion-toolbar {
    --background: #064aa3b6;/*#f72585;*/
    --color: white;
}

a {
    color:  #094a80;/*#b5179e;*/
}

p, span, h1, h2, h3, h4, h5, h6 {
    color: white;
}

ion-menu-button {
    --color: white;
}

* {
    font-family: 'Roboto', sans-serif;
}
