<ion-grid>
    <ion-row>
        <ion-col>
            
           <app-carrito [carrito]="carro"></app-carrito>
           <!--

            <h3>Subir foto</h3>
          <input type="file" (change)="subirFoto($event)">
           -->


         <!---
             <div *ngIf="(porcentaje$ | async ) as porcentaje">
                <ion-progress-bar [value]="porcentaje"></ion-progress-bar> 
            </div>
         -->
         
          <ion-progress-bar [value]="progress"></ion-progress-bar> 
        </ion-col>
    </ion-row>

    <!--Articulos de la base de datos de Firebase-->
   <!--
     <div *ngFor="let articuloFirebase of articulosFirebase | async ">
        {{articuloFirebase.nombre}} <br>

        {{articuloFirebase.precio}} <br>
    </div>
   -->

 
    <!--Articulos locales-->
    <ion-row>
        <ion-col size="12" size-md="3" *ngFor="let articulo of articulosFirebase | async"> <!--"articulosColeccionFb // articulosFirebase | async-->
            <ion-card>
                <ion-card-header>
                    <p>{{articulo.nombre}}</p>
                </ion-card-header>
                <ion-card-content>
                    
                    <a [routerLink]="['/detalle', articulo.id]">
                        <!--<img src="assets/imagenes/bolsa.jpg" alt="">-->
                        <img [src]="articulo.img | getDownloadURL" alt="">
                       <!-- <img [src]="articulo.imagen" alt="{{articulo.nombre}}">-->
                    </a>
                    <p class="precio">${{articulo.precio}}</p>
                    <ion-button (click)="agregarCarrito(articulo)">Agregar al Carrito</ion-button>
                </ion-card-content>
            
            </ion-card>
        </ion-col>
       
    </ion-row>
   
</ion-grid>